name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '12'
    - run: npm ci
    - run: npm test
    - name: 'push results to CucumberStudio'
      if: ${{ env.CS_PROJECT_ACCESS_TOKEN }}
      run: npm push-results
      env:
          REPOSITORY_NAME: ${{github.repository}}
          COMMIT_HASH: ${{github.sha}}
          GITHUB_REF: ${{github.ref}}
